<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../styles/out/404.css" />
        <title>Erreur 404</title>
    </head>
    
    <body>
        <div id="bloc_page">
			<h1> Erreur 404: page non trouvé </h1>
            <p> Chez visiteur, la page que vous désirez visualiser n'existe pas ou plus. 
			<br>Veuillez cliquer <a href="index.html">ici</a> pour revenir à la page d'accueil du site.</p>
			<br><br><img class="logo" src="../resources/images/Icone_blanc.png" alt="Logo Music Tool Blanc" width="100"	height="100"/>
        </div>
    </body>
</html>
