<div id="bloc-page">
    <div class="logoContainer">
        <a ng-href="/">
            <img class="logo" src="../resources/images/Icone_blanc.png" alt="Logo Music Tool Blanc" />
        </a>
    </div>

    <nav class="navigation">
        <ul>
            <li><a ng-href="/">Accueil</a></li>
            <li><a ng-href="/register">Inscription</a></li>
            <li><a ng-href="/login">Connexion</a></li>
            <li><a ng-href="/contact">Contact</a></li>
        </ul>
    </nav>

</div>

<div id="middle_home">
    <div class="ban firstBan">
        <div class="inlineBlock" id="left">
            <img class="homeImg" src="../resources/images/home.png" alt="Homme appli">

        </div>
        <div class="inlineBlock" id="right">
            <div id="logo_blanc">
                <img class="homeImg" src="../resources/images/Logo_blanc.png" alt="Logo appli blanc">
            </div>
            <div class="textCenter" id="slogan">
                <p>
                    Apprenez à jouer du piano,
                    <br> de la guitare ou du ukulele
                </p>
            </div>
            <br>
            <div id="logo_google">
                <a href="http://musictoolkit.fr/appget/musictoolkit.apk"><img src="../resources/images/google.png" alt="Logo Google play gris"></a>
            </div>
        </div>
    </div>
    <div></div>
</div>
<div id="icon_home">
    <div class="title">
        <h1 class="title">Fonctionnalités :</h1>
    </div>
    <div class="largeIcon">
        <a href="#metronome">
            <img class="metronome" src="../resources/images/btnMetronome.png" alt="Icone metronome">
        </a>
    </div>
    <div class="largeIcon">
        <a href="#chords">
            <img class="chord" src="../resources/images/btnChords.png" alt="Icone CHord Teacher">
        </a>
    </div>
    <div class="largeIcon">
        <a href="#playback">
            <img class="playback" src="../resources/images/icon_playback_generator.png" alt="Icone Playback Generator">
        </a>
    </div>
    <div class="largeIcon">
        <a href="#accordeur">
            <img class="accordeur" src="../resources/images/btnAccordeur.png" alt="Icone Tuner">
        </a>
    </div>
    <div class="largeIcon">
        <a href="#drjam">
            <img class="jam" src="../resources/images/btnDrJam.png" alt="Icone Dr Jam">
        </a>
    </div>
</div>
<div id="guitare">
    <img src="../resources/images/pexels-photo.png" alt="Guitare" />
</div>
<div id="fonctionnalites">
    <div id="metronome">
        <img class="fonc_icon" src="../resources/images/btnMetronome.png" alt="Icone metronome">
        <p class="title_lato"> Métronome </p>
        <p class="text_body">Un métronome, fonctionnalité de base, permettant de jouer un rythme que pourra suivre le musicien. Il émet un signal sonore et un signal visuel (pour les instruments trop bruyants, type batterie). Un paramétrage selon le tempo et le type de mesure (avec signal sonore et visuel différent au premier temps de chaque mesure) est disponible</p>
        <img class="ihm" src="../resources/images/Metronome.png" alt="appli ihm metronome">
    </div>
    <div id="playback">
        <img class="fonc_icon" src="../resources/images/icon_playback_generator.png" alt="Icone Playback Generator">
        <p class="title_lato"> Playback </p>
        <p class="text_body">Un générateur de PlayBack qui permet à l’utilisateur de paramétrer très rapidement une boucle musicale qui sera joué par le téléphone afin de l’accompagner. L’utilisateur pourra paramétrer le tempo, le rythme, les accords et la durée de la boucle, ainsi que l’instrument jouant cette même boucle.</p>
        <img class="ihm" src="../resources/images/Playback_Generator.png" alt="appli ihm playback generator">
    </div>
    <div id="chords">
        <img class="fonc_icon" src="../resources/images/btnChords.png" alt="Icone Chord Teacher">
        <p class="title_lato"> Chords Teacher </p>
        <p class="text_body">Une bibliothèque d’accords, fonctionnalité assez innovante, recensant tous les accords et gammes existants et comment les jouer (notamment au piano et à la guitare). La fonctionnalité affichera les partitions et/ou les tablatures selon le mode choisi par l’utilisateur.</p>
        <img class="ihm" src="../resources/images/Chords_Teacher_ukulele.png" alt="chords ihm appli">
    </div>
    <div id="accordeur">
        <img class="fonc_icon" src="../resources/images/btnAccordeur.png" alt="Icone Tuner">
        <p class="title_lato"> Accordeur </p>
        <p class="text_body">Un accordeur, fonctionnalité de base, permettant à chaque musicien d’accorder son instrument, de plusieurs façons, de manière chromatique (détection de la note la plus proche et de l’écart avec celle-ci) ou de manière adaptée par instrument (par exemple : accordage spécifique pour guitare ou pour ukulélé).</p>
        <img class="ihm" src="../resources/images/Accordeur_Chromatique.png" alt="accordeur ihm appli">
    </div>
    <div class="" id="drjam">
        <img class="fonc_icon" src="../resources/images/btnDrJam.png" alt="Icone Dr Jam">
        <p class="title_lato"> Dr Jam </p>
        <p class="text_body">Une fonctionnalité "gamifiée", très innovante (que nous avons appelé DrJam), et qui fait défiler une partition à l’utilisateur, qui la joue simultanément. L’application calcule ensuite la réussite du joueur et lui attribue un score.</p>
        <img class="ihm" src="../resources/images/Dr_Jam_playing.png" alt="dr jam ihm appli">
    </div>
</div>
<div id="box-footer">
    <div>
        <h1 class="title">Essayez tout de suite !</h1>
    </div>
    <div>
        <div>
            <div>
                <a class="largeButton" href="http://musictoolkit.fr/appget/musictoolkit.apk">
                    <img style="max-height: 100px;" src="../resources/images/google.png" alt="Logo Google play">
                </a>
            </div>
            <div>
                <a type="button" class="button largeButton" ng-href="/register" >S'INSCRIRE</a>
            </div>
        </div>
    </div>
</div>