<img src="../resources/images/Logo_blanc.png" alt="Logo Music Tool" width="222" height="143">
<div id="conteneur">
    <p> CONNEXION </p>
    <section class="loginform cf">
        <form name="login" action="index_submit" method="get" accept-charset="utf-8">
            <label for="usermail"></label>
            <input type="text" name="usermail" placeholder="PSEUDO" required data-ng-model="user.email">
            <label for="password"></label>
            <input type="password" name="password" placeholder="MOT DE PASSE" required data-ng-model="user.password">
        </form>
    </section>
    <input type="button" class="button" value="VALIDER" data-ng-click="attempLogin()">
</div>