<div id="bloc-page">
    <div id="logo">
        <a ng-href="/">
            <img class="logo" src="../resources/images/Icone_blanc.png" alt="Logo Music Tool Blanc" />
        </a>
    </div>

    <nav class="navigation">
        <ul>
            <li><a ng-href="/">Accueil</a></li>
            <li><a ng-href="/register">Inscription</a></li>
            <li><a ng-href="/login">Connexion</a></li>
            <li><a ng-href="/contact">Contact</a></li>
        </ul>
    </nav>

</div>
<div class="form-block">
    <p id="title"> CONNEXION </p>
    <form name="login" method="post" ng-submit="attempLogin()">
        <input class="lineTextField" type="text" name="usermail" placeholder="Pseudo" required ng-model="user.email">
        <input class="lineTextField" type="password" name="password" placeholder="Mot de passe" required ng-model="user.password">
        <input id="submit" type="submit" class="button" value="VALIDER">
    </form>
    <div class="error" ng-show="">
    </div>
</div>