<div id="bloc-page">
    <div id="logo">
        <a ng-href="/">
            <img class="logo" src="../resources/images/Icone_blanc.png" alt="Logo Music Tool Blanc" />
        </a>
    </div>

    <nav class="navigation">
        <ul>
            <li><a ng-href="/">Accueil</a></li>
            <li><a ng-href="/register">Inscription</a></li>
            <li><a ng-href="/login">Connexion</a></li>
            <li><a ng-href="/contact">Contact</a></li>
        </ul>
    </nav>

</div>
            
            <div id="banniere">
				<div id="banniere_nom">
					<h1>Contactez nous</h1>
				</div>
			</div>
            
            <div id="section">
                <div id="article">              
					<div id="texte">
						<p> Une remarque, un renseignement ou une suggestion ?
						<br> Tous les moyens sont bons pour nous contacter.</p>
					</div>
					<div id="logos">
						<div id="twitter">
							<img src="../resources/images/twitter_icon.png" alt="Logo Twitter rose rond" />
						</div>
						<div id="fb">
							<img src="../resources/images/fb_icon.png" alt="Logo FB rose rond" />
						</div>
					</div>
					<div id="form" name="login" action="index_submit" method="get" accept-charset="utf-8">
						<label for="nom"></label>
						<input class="nom" type="text" name="nom" placeholder="    Nom" required>
						<label for="usermail"></label>
						<input class="mail" type="email" name="usermail" placeholder="    Mail" required>
						<label for="message"></label>
						<input class="message" type="text" name="message" placeholder="    Message" required>
					</div>
					<input type="button" class="button" value="REPONDEZ MOI">
				</div>
            </div>
            
            <div id="footer">
            </div>
    </body>
</html>
