<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<link rel="stylesheet" href="../styles/out/inscription.css" />
        <title>Inscription</title>
    </head>

    <body>
		<img src="../resources/images/Logo_blanc.png" alt="Logo Music Tool" width="222"	height="143"> 
		<div id="conteneur">
			<p> INSCRIPTION </p>
				<section class="loginform cf">
				<form name="login" action="index_submit" method="get" accept-charset="utf-8">
					<label for="usermail"></label>
					<input type="email" name="usermail" placeholder="MAIL" required>
					<label for="password"></label>
					<input type="pseudo" name="pseudo" placeholder="PSEUDO" required>
					<label for="usermail"></label>
					<input type="password" name="password" placeholder="MOT DE PASSE" required>
					<label for="usermail"></label>
					<input type="password" name="password" placeholder="CONFIRMATION DE MOT DE PASSE" required>	
				</form>
				</section>
				<input type="button" class="button" value="VALIDER">
		</div>
	</body>
</html>