<h1>Je vais compter jusqu'à <%= counter %></h1>

<p><%
    for(var i = 1 ; i <= counter ; i++) {
    %>

    <%= i %>... 

<% } %></p>

<p>Tant que j'y suis, je prends un nom au hasard qu'on m'a envoyé :
<%= users[Math.round(Math.random() * (users.length - 1))] %>
</p>